html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; }

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: #f6f6f6; }

* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  margin: 0; }

header {
  background: #f7f7f7;
  padding: 22px 0; }
  header .header-container {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto; }
  header .header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .header-menu__item {
    padding-left: 60px; }
  header .header-menu__link {
    color: #000;
    font-size: 16px;
    padding: 27px 6px; }
    header .header-menu__link:hover {
      background: #ffeb00; }
  header #header-menu__checkbox {
    display: none; }

.top-slide {
  padding-top: 120px;
  padding-bottom: 300px;
  background: url(../img/slider_bg.png) center no-repeat; }
  .top-slide .top-slide__container {
    width: 85%;
    margin: 0 auto; }
  .top-slide .top-slide__header {
    display: inline;
    background: #ffeb00;
    font-size: 70px;
    padding: 0 13px; }
  .top-slide .top-slide__description {
    display: inline;
    background: #3f3f44;
    font-size: 24px;
    padding: 0 10px;
    color: white; }

.specialize-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center; }
  .specialize-container .specialize-header {
    margin-top: 30px;
    font-size: 35px;
    color: #403f46;
    text-transform: uppercase; }
  .specialize-container .specialize-description {
    font-size: 24px;
    margin-bottom: 50px;
    color: #403f46; }
  .specialize-container .specialize-cards__list {
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .specialize-container .specialize-cards__list .specialize-cards__item {
      text-align: center;
      width: 250px; }
      .specialize-container .specialize-cards__list .specialize-cards__item .card-top {
        min-height: 200px; }
      .specialize-container .specialize-cards__list .specialize-cards__item .first-card {
        min-height: 208px;
        background: url(../img/first-card.png) center no-repeat; }
      .specialize-container .specialize-cards__list .specialize-cards__item .second-card {
        background: url(../img/second-card.png) center no-repeat #ffeb00; }
      .specialize-container .specialize-cards__list .specialize-cards__item .third-card {
        background: url(../img/third-card.png) center no-repeat #ffeb00; }
      .specialize-container .specialize-cards__list .specialize-cards__item .fourth-card {
        background: url(../img/fourth-card.png) center no-repeat #ffeb00; }
      .specialize-container .specialize-cards__list .specialize-cards__item .card-header {
        padding-top: 177px;
        letter-spacing: 5px; }
      .specialize-container .specialize-cards__list .specialize-cards__item .card-description {
        font-size: 13px;
        margin: 0;
        background-color: #3f3f44;
        color: #fff;
        padding: 25px; }
      .specialize-container .specialize-cards__list .specialize-cards__item .card-description--first {
        position: relative;
        text-align: left;
        font-size: 20px;
        padding: 0;
        margin-top: -8px;
        padding-left: 20px;
        padding-bottom: 17px;
        padding-top: 11px; }
      .specialize-container .specialize-cards__list .specialize-cards__item .card-description--first::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: -5px;
        right: 24px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        background-color: #3f3f44; }

/*
@media screen and (max-width: 780px){
	.cards{
		flex-direction: column;
		justify-content: space-between;
	}
	.card{
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
*/
.portfolio {
  width: 95%;
  margin: 0 auto;
  text-align: center; }
  .portfolio .portfolio-header {
    background: #424147;
    padding: 0 20px;
    display: inline-block;
    color: #f5e10a;
    margin-bottom: 30px; }
  .portfolio .portfolio-description {
    color: #424146;
    font-size: 16px; }
  .portfolio .portfolio-button {
    position: relative;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    margin: 20px 20px; }
    .portfolio .portfolio-button:hover {
      background-color: #f5e10a; }
    .portfolio .portfolio-button:active, .portfolio .portfolio-button:focus {
      outline: none; }
    .portfolio .portfolio-button:after {
      position: absolute;
      content: '  /  ';
      right: -30px; }
    .portfolio .portfolio-button:last-child::after {
      content: ''; }
  .portfolio .posts {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .portfolio .posts .post {
      margin-right: 20px; }
      .portfolio .posts .post:nth-child(4), .portfolio .posts .post:nth-child(8) {
        margin-right: 0px; }

.brand-slider {
  width: 90%;
  margin: 0 auto;
  text-align: center; }
  .brand-slider .brand-slider__header {
    background: #424147;
    padding: 0 8px;
    font-size: 18px;
    display: inline-block;
    color: #f5e10a;
    margin-bottom: 30px;
    margin-top: 40px; }
  .brand-slider .brand-slider__description {
    margin-bottom: 40px;
    color: #424146;
    font-size: 16px; }

footer {
  background: #414146;
  padding: 30px 0;
  color: #fff; }

footer h4 {
  font-size: 18px; }

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 35% 35% 20%;
  grid-column-gap: 3%; }

.footer-container .about-us a {
  display: inline-block;
  background: #000;
  color: #fff;
  border-bottom: 2px solid #f5e10a;
  font-size: 15px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 40px; }

.about-us h4 {
  margin-bottom: 20px; }

.tweets h4 {
  margin-bottom: 20px; }

.tweets-p {
  position: relative;
  margin-left: 30px;
  margin-bottom: 30px; }

.tweets-p::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: -40px;
  background: url(../img/Twitter-birs-icon.png) center no-repeat; }

.tweet-time {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #f5e10a; }

.social-connecting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social-connecting p {
  margin-left: 30px; }

.social-connecting p img {
  margin-left: 5px; }
