.portfolio{
	width: 90%;
	margin: 0 auto;
	text-align: center;

	.portfolio-header{
		background: #424147;
		padding: 0 20px;
		display: inline-block;
		color: #f5e10a;
		margin-bottom: 20px;
	}

	.portfolio-description{
		color: #424146;
		font-size: 16px;
	}

	.portfolio-button{
		position: relative;
		color: #424146;
		cursor: pointer;
		font-size: 12px;
		padding: 5px;
		margin: 10px;

		&:hover{
			background-color: #f5e10a;
		}

		&:active, &:focus{
			outline: none;
		}

		&:after{
			position: absolute;
			content: '  /  ';
			right: -15px;
		}

		&:last-child::after{
			content: '';
		}
	}

	.posts{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
