.specialize-container{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 90px;
	text-align: center;



	.specialize-header{
		margin-top: 30px;
		font-size: 35px;
		color: #403f46;
		text-transform: uppercase;
	}

	.specialize-description{
		font-size: 24px;
		margin-bottom: 50px;
		color: #403f46;
	}

	.specialize-cards__list{
		margin: 0 auto;
		width: 90%;
		display: flex;
		justify-content: space-between;
	


		.specialize-cards__item{
			text-align: center;
			width: 250px;
		


			.card-top{
				min-height: 200px;
			}

			.first-card{
				min-height: 208px;
				background: url(../img/first-card.png) center no-repeat;
			}

			.second-card{
				background: url(../img/second-card.png) center no-repeat #ffeb00;
			}

			.third-card{
				background: url(../img/third-card.png) center no-repeat #ffeb00;
			}

			.fourth-card{
				background: url(../img/fourth-card.png) center no-repeat #ffeb00;
			}

			.card-header{
				padding-top: 177px;
				letter-spacing: 5px;
			}

			.card-description{
				font-size: 13px;
				margin: 0;
				background-color: #3f3f44;
				color: #fff;
				padding: 25px;
			}

			.card-description--first{
				position: relative;
				text-align: left;
				font-size: 20px;
				padding: 0;
				margin-top: -8px;
				padding-left: 20px;
				padding-bottom: 17px;
				padding-top: 11px;
			}

			.card-description--first::after{
				position: absolute;
				content: "";
				width: 10px;
				height: 10px;
				top: -5px;
				right: 24px;
				transform: rotate(45deg);
				background-color: #3f3f44;
			}
		}
	}
}
/*
@media screen and (max-width: 780px){
	.cards{
		flex-direction: column;
		justify-content: space-between;
	}
	.card{
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
*/